[2019-06-20 17:02] fejta-bot opened #1 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2019-06-21 13:17] chuckha opened #4 "Find a place to put images"
It would be swell to have a place to put container images that is kubernetes community oriented. Right now it's up to each person to build their own container image or rely on my VMware provided google project.

I know @amy has been working on the image promoter, is that ready to be used?

[2019-06-21 13:19] chuckha opened #5 "Set up automated tests"
Get the prow configuration in place so we can run tests on PRs. I don't think we need periodics yet, just PR jobs.

[2019-06-21 15:40] chuckha opened #6 "Work around for Kubeadm issue"
/kind bug
/assign

Until Kubeadm fixes https://github.com/kubernetes/kubeadm/issues/1632 we need to work around it by modifying the kubeadm config map cluster statuses when we remove a node from the cluster.

[2019-06-21 18:53] chuckha commented on #6
This is fixed in #2

[2019-06-21 18:53] #6 closed

[2019-06-21 21:15] chuckha opened #8 "capdctl panics/error handling"
I was quite lazy with handling errors and panics in capdctl. You'll find https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/master/cmd/capdctl/main.go#L183 this littered throughout the code. It's not great.

I would like the functions to return errors instead of panicking and print the error out to the user if there is one.

/kind enhancement

[2019-06-21 21:19] chuckha commented on #8
Assigned to @TamikoT but not through the interface since he's not in the k8s org

/lifecycle active

[2019-06-21 22:42] ashish-amarnath opened #9 "`go build ./cmd/...` fails"
`go build ./cmd/...` fails with the below error
[code]

There are multiple references to `github.com/chuckha` which needs to be removed.

[2019-06-21 22:42] ashish-amarnath commented on #9
/assign
/lifecycle active

[2019-06-22 00:53] sethp-nr commented on #9
I think this is a go mod thing – it worked fine for me with `GO111MODULE=on` (or, presumably, if I cloned it outside my GOPATH with the default `GO111MODULE=auto`).

That said, I think it works because the module still declares itself as `github.com/chuckha/cluster-api-provider-docker`: https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/master/go.mod#L1

[2019-06-22 18:47] neolit123 commented on #9
yes, try:
[code]
/kind documentation

[2019-06-22 19:37] neolit123 commented on #9
sent fix here:
https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/11

[2019-06-24 15:13] #9 closed

[2019-06-24 15:42] #1 closed

[2019-06-24 19:27] amy opened #15 "Dependency Issues"
There's some places where the `chuckha` repo is imported. This affects being able to successfully build the binaries.

[2019-06-24 19:34] chuckha commented on #15
/kind bug
/priority critical-urgent

[2019-06-24 21:50] #15 closed

[2019-06-24 21:51] ashish-amarnath commented on #5
/assign
/lifecycle active

[2019-06-24 21:56] ashish-amarnath commented on #5
waiting on https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/13

[2019-06-24 21:57] ashish-amarnath commented on #5
Hints: https://github.com/kubernetes/test-infra/tree/0fabd2ea816daa8c15d410c77a0c93c0550b283f/config/jobs/kubernetes-sigs/cluster-api-provider-aws

[2019-06-24 21:59] neolit123 commented on #5
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml

is the best example, just call `verify-all.sh`.

[2019-06-24 21:59] neolit123 commented on #5
will update #13 later today.

[2019-06-24 22:26] amy opened #17 "capdctl setup needs Cluster CRD"
Running `capdctl setup` doesn't work out of the box. The Cluster CRD needs to be added if it does not already exist.

[code]

[2019-06-24 22:32] chuckha commented on #17
Can you paste the command & the output/error you got?

[2019-06-24 22:35] amy commented on #17
/kind bug

[2019-06-24 22:44] chuckha commented on #17
I can't reproduce on master, could you rebuild capdctl and try again? is possible you're using an older version?

[2019-06-24 22:51] amy commented on #17
@chuckha Fetched and rebased. Still getting the same issue

[2019-06-24 23:09] neolit123 opened #18 "add boiler plate check written in go"
the existing k8s boiler plate checks are written in python, for some reason.
a boiler plate check can be written in go (~50 LOC). basically any new, custom verify checks should be either bash or go and we should not depend on extra languages if possible.

should be added to verify-all.sh once #13 merges.
i should add this in kinder too, because we don't have it there yet.

/assign
/kind feature
/p

[2019-06-24 23:10] neolit123 commented on #5
/remove help
given multiple people are helping here already.

[2019-06-24 23:11] neolit123 commented on #5
/remove-help

[2019-06-24 23:38] amy opened #19 "Track and document external dependencies"
Ex: `kind` tool needs to have a version >= v0.3.0

[2019-06-24 23:38] amy commented on #19
/kind documentation

[2019-06-24 23:41] #17 closed

[2019-06-25 14:06] chuckha commented on #19
We do have that written up in the README https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/master/README.md#testing-out-capd

but perhaps it should be listed as a separate section, is that what this issue is getting at?

[2019-06-25 16:26] #18 closed

[2019-06-25 16:28] chuckha opened #22 "Fix up fmt.Printlns everywhere"
There are a lot of fmt.Printlns. They should be treated as a logging dependency, as in, for now it's ok to add a parameter to the function that is a logger interface. We have been using `logr.Logger` in a few places, so I think it would be good to continue using that.

/kind enhancement

[2019-06-25 16:30] chuckha commented on #22
/kind feature

[2019-06-25 16:34] chuckha opened #23 "Make the different kinds of functions more obvious"
There are two types of functions in this repo (in the actions/ doodle)

1. the functions that act on the management cluster (the kind cluster)
2. the functions that act on the target cluster

They all share a lot of code and I think there is a room for improvement here. This is intentionally a vague ticket. It may involve a few iterations/api design work.

/kind cleanup

[2019-06-25 16:37] chuckha commented on #22
/remove-kind feature
/kind cleanup

[2019-06-25 16:40] chuckha commented on #5
unblocked!! 🎉

[2019-06-25 16:41] amy commented on #19
Oh! I missed that part. But yeah I think creating a separate section where its harder to overlook that external dependency + version would be good.

[2019-06-25 16:42] amy commented on #22
Will go ahead and start tackling this.

[2019-06-25 16:48] amy commented on #22
/lifecycle active

[2019-06-25 19:55] pablochacin opened #24 "Document how to create/use local images for testing"
Presently README explains that for creating local image for the controller the following command can be used:
`docker build -t my-repository/capd-manager:latest . `

In order to use this local image, it must be loaded into the `kind` cluster using `kind` load command:
`kind load docker-image my-custom-image:unique-tag`

However, `kind` documentation warns about not using the `latest` label:

CAPD

[2019-06-25 21:17] chuckha commented on #24
/kind documentation

[2019-06-25 21:18] chuckha commented on #24
The alternative here is to upload the image so that it doesn't need to be loaded, but that's pushing the image out only to be pulled locally. It might be a waste of bandwidth but it is easy.

I wonder if there is value in being able to run this offline?

[2019-06-25 23:24] amy commented on #22
There are 2 main sections that have `fmt.Print` that can be separated out. One is within the actuators. The other portion is within `/kind` related files.

[2019-06-26 14:14] chuckha opened #28 "Test out kind v0.4.0"
Try the new kind version and see if we can use it as the default!

This will also involve going through the code to see if the API or behaviors we depend on changed at all.

[2019-06-26 14:14] chuckha commented on #28
https://github.com/kubernetes-sigs/kind/releases/tag/v0.4.0

[2019-06-26 14:18] neolit123 commented on #5
/priority important-soon

@ashish-amarnath
i took the liberty of sending a PR for this as there are a lot of cleanup PRs that we are not catching for errors:
https://github.com/kubernetes/test-infra/pull/13175

[2019-06-26 14:22] #19 closed

[2019-06-26 15:44] chuckha commented on #4
Found it.

https://github.com/kubernetes-sigs/cluster-api-provider-docker/packages

[2019-06-26 19:50] chuckha opened #29 "`capdctl` should be able to generate MachineDeployment YAML"
/kind feature
/lifecycle active

capdctl needs to be able to generate machinedeployments so we can test those out

[2019-06-26 23:00] amy commented on #29
/lifecycle active

[2019-06-27 03:37] neolit123 commented on #5
https://github.com/kubernetes/test-infra/pull/13175
merged

status on unmerged PRs is showing `pull-cluster-api-provider-docker-verify Expected — Waiting for status to be reported`. no idea why, but prow is having issues recently. also the dashboard for
provider-docker has not appeared yet https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all

[2019-06-27 13:46] ncdc opened #31 "Avoid using 'new' as a variable name in actuators/machine.go"

[2019-06-27 19:32] chuckha opened #32 "Don't copy/paste the CRDs from Cluster API"
It would be great to not copy and paste the CRDs from cluster API.

Ideally capdctl can produce the YAML from multiple versions of Cluster API. I propose a command that looks like this:

`capdctl crds <cluster-api-version>`

for example

`capdctl crds 0.1.3`

This will then print out the crds.

There are two implementations that come to mind: 1) capdctl reaches out to cluster-api's repo directly a

[2019-06-27 20:03] chuckha opened #33 "RBAC missing permissions"
[code]

/kind bug
/assign
/lifecycle active

[2019-06-27 20:39] #33 closed

[2019-06-27 21:26] amy commented on #29
/close addressed by #30

[2019-06-27 21:27] chuckha commented on #29
/close

fixed! thanks! 🎉

[2019-06-27 21:27] #29 closed

[2019-06-27 22:07] amy commented on #23
/lifecycle active

[2019-06-27 23:09] chuckha opened #36 "Fixup RBAC"
Rbac is missing some more stuff. Copy and pasting in new things, #32 i need u :sob:

/kind bug
/lifecycle active

[2019-06-27 23:20] chuckha opened #38 "Fix secret name for capi 1.4"
CAPI expects child clusters to leave secrets in a secret called `%s-kubeconfig` where `%s` is the name of the cluster.

We were so close, we did `kubeconfig-%s, clusterName`

[2019-06-27 23:21] chuckha commented on #38
/kind bug
/lifecycle active

[2019-06-27 23:31] chuckha opened #40 "Fix provider ID for v0.1.4"
Node refs matter now and we are doing it all wrong!

/kind bug
/lifecycle active

[2019-06-27 23:41] chuckha opened #42 "Fix secret name for cluster api v0.1.4"
cluster api expects the secret to be stored in "value" not "kubeconfig"

/lifecycle active
/kind bug
/assign

[2019-06-27 23:52] pablochacin commented on #23
@amy are you working on this issue?

[2019-06-28 00:09] chuckha opened #43 "Get rid of the code that sets the node ref"
with the update to cluster-api, v0.1.4 will update the node refs for us. We should not be doing this manually.

/kind enhancement

[2019-06-28 01:14] neolit123 commented on #5
i'm assuming that now a PR blocking e2e is needed, such that creates a full cluster using the provider?

[2019-06-28 01:43] #42 closed

[2019-06-28 01:49] #38 closed

[2019-06-28 01:51] ashish-amarnath commented on #5
sorry for the delay on this :( and thanks for picking it up for me.

[2019-06-28 01:55] #40 closed

[2019-06-28 19:23] ashish-amarnath opened #49 "capdctl help messages are out of sync"
/kind bug

**What steps did you take and what happened:**
[code]
however
[code]

**What did you expect to happen:**
The help messages should have been in sync

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-docker version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2019-06-28 19:24] ashish-amarnath commented on #49
/assign
/lifecycle active

[2019-06-28 19:30] #49 closed

[2019-06-30 06:50] ashish-amarnath opened #52 "Cluster actuator should reconcile deleted ELB nodes"
/kind bug

**What steps did you take and what happened:**
- Setup management cluster using `capdctl setup`
- Apply capi CRDs using `capdctl crd...`
- Deploy capd controller manager using `capdctl capd ...`
- Create a sample workload cluster. cluster only w/o creating any machines
- Find the ELB for the workload cluster using `docker ps --filter name=<Cluster-Name>-external-load-balancer
- Kill the

[2019-06-30 06:50] ashish-amarnath commented on #52
/assign
/lifecycle active

[2019-07-01 16:50] chuckha opened #54 "Support both v1a1 and v1a2 of cluster api"
/kind feature

We want to test out v1alpha2 with this provider, but we will also have to support v1alpha1 as well

[2019-07-01 16:51] detiber commented on #54
I hate to say it, but the easiest approach here might just be to branch.

[2019-07-01 16:52] chuckha commented on #54
can you elaborate? I'd like to use this space to understand what actually has to be done for this issue and haven't had time to get started yet

[2019-07-01 16:53] ncdc commented on #54
Agreed - let's see what we can/can't accomplish.

Also @chuckha do you anticipate that this provider will be able to use the kubeadm bootstrapper when it's available to generate bootstrap data? That will require being able to pass the data in to the containers & have them use it.

[2019-07-01 21:46] chuckha opened #55 "cluster api v0.1.4 doesn't work with current implementation"
/kind bug

The main problem lies in the fact that the cluster api node ref controller, running in the management cluster (kind) doesn't share the network with the load balancer.

For this to work cluster API network must have access to the child cluster's network.

[2019-07-01 22:22] chuckha commented on #55
I think one thing we can do here is to run the management cluster not in KIND but as its own cluster(just a control plane node).

I'm trying to figure out why i didn't start this way...

[2019-07-01 22:30] ashish-amarnath commented on #55
Can you elaborate on why the node ref controller needs to have access to the child cluster's n/w?
I also need to read the node ref controller code.

[2019-07-01 23:26] ashish-amarnath commented on #55
never mind.. I read the node ref controller code and got what you were saying. The nesting that we are doing here.. I need to always step back and think _carefully_ which container are we in again 😂

[2019-07-02 14:46] chuckha commented on #55
I think the move is to get away from `kind create cluster` for the management cluster and just spin up a control plane node. Overall this will be a good thing (fewer resources) but....this requires that kind exposes some things it doesn't yet expose so we will be diverging from kind even further. I am glad of the name I chose TBH.

[2019-07-03 07:19] ashish-amarnath opened #58 "publish-manager.sh fails without the logging package in the build container"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
Should be able to successfully build and push capd-manager images

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-docker version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/e

[2019-07-03 07:19] ashish-amarnath commented on #58
/assign
/lifecycle active

[2019-07-03 14:18] #58 closed

[2019-07-03 14:18] chuckha opened #60 "Add verify script to run `docker build`"
/kind feature

**Describe the solution you'd like**
I'd like the verify scripts to also build the docker image (not push, just build and make sure it's working)

[2019-07-03 14:37] chuckha commented on #22
I think this is fine too close. there is still some work to do but will be handled by other issues

/close

[2019-07-03 14:37] #22 closed

[2019-07-03 14:38] chuckha commented on #43
/lifecycle active
/assign

[2019-07-03 14:41] chuckha commented on #36
/closed

in favor of doing #32

[2019-07-03 14:41] chuckha commented on #36
/close

[2019-07-03 14:41] #36 closed

[2019-07-03 14:41] chuckha commented on #32
/assign
/lifecycle active

[2019-07-03 14:44] #52 closed

[2019-07-03 14:50] #55 closed

[2019-07-03 15:32] liztio opened #61 "CAPD ignoring controlPlane version in machine spec"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

The reported version by kubectl should've been 1.14.0

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[code]

[2019-07-03 17:14] amy commented on #23
@pablochacin nah, feel free to pick it up!

/remove-lifecycle active

[2019-07-03 17:48] chuckha opened #63 "actuators are not actually logging"
/kind bug

**What steps did you take and what happened:**
I ran this like always but there are no logs to stdout using `kubectl logs`

It's probably a klog setting thing. Not entirely sure yet.

/assign
/lifecycle active

[2019-07-03 20:10] chuckha commented on #63
/close

This is not true, the RBAC just changed and i didn't notice

[2019-07-03 20:10] #63 closed

[2019-07-03 20:13] chuckha opened #65 "Must use custom image of cluster-api v0.1.4"
/kind bug

**What steps did you take and what happened:**
https://github.com/kubernetes-sigs/cluster-api/issues/1104 causes a panic in the cluster-api system. In order for this to proceed, please use `gcr.io/kubernetes1-226021/cluster-api-controller-amd64:dev`

until that issue is closed and a release that contains that patch is in.

[2019-07-05 14:05] chuckha opened #66 "make 6443 a constant"
We hardcode 6443 all over the place and it should be a constant

/kind enhancement

[2019-07-05 14:06] chuckha commented on #66
/kind feature

[2019-07-05 14:06] chuckha commented on #66
/good-first-issue

[2019-07-05 14:18] chuckha opened #67 "Figure out release strategy"
/kind feature

**Describe the solution you'd like**
Right now we're using latest and building from HEAD. This is a very bad practice and we should figure out releases for this project.

I'm hoping that the GitHub packing is available now to solve a large part of this issue for us.

**Anything else you would like to add:**
Don't use latest image tag.

**Environment:**

- Cluster-api-provider-docker

[2019-07-05 16:06] #32 closed

[2019-07-05 17:39] chuckha opened #69 "This is nice on linux and unfriendly on os x"
/kind bug

**What steps did you take and what happened:**
Containers must talk to each other. Containers can talk to each other over their container IP address. Containers live in the docker0 network. My laptop cannot use the container IP to communicate with containers as the docker0 network is not bridged. Therefore my laptop can only talk to containers over localhost. The containers cannot talk

[2019-07-05 20:34] SharksZhang commented on #66
/assign

[2019-07-05 20:50] SharksZhang commented on #66
I am a new contributor, could you please tell me more information about this issue. @chuckha

[2019-07-05 21:02] chuckha commented on #66
@SharksZhang Sure! We are hardcoding 6443 in a few places across the codebase.

We should make a package called "constants" and define constants in there. Here are some examples of hard coded 6443:

https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/master/kind/actions/kind.go#L249
https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/master/kind/actions/cluster_acti

[2019-07-08 16:57] ashish-amarnath commented on #60
/assign
/lifecycle active

[2019-07-08 18:27] chuckha commented on #60
This ended up becoming part of the deploy action.

[2019-07-08 18:29] chuckha commented on #60
edit: never mind, because of forks this will not resolve the issue.

[2019-07-09 13:14] chuckha opened #78 "add an imports verification"
/kind feature

**Describe the solution you'd like**
We verify golint and gofmt but we don't test goimports

[2019-07-09 16:04] sethp-nr commented on #78
I'm just going to (helpfully?) leave this here:

[code]

and https://github.com/kubernetes-sigs/kubebuilder/issues/791

[2019-07-10 13:13] chuckha commented on #28
this is no longer an issue

[2019-07-10 13:13] #28 closed

[2019-07-10 13:14] chuckha commented on #4
Basic infrastructure is in place.

/close

[2019-07-10 13:14] #4 closed

[2019-07-10 13:17] liztio commented on #23
/lifecycle active

[2019-07-10 13:17] liztio commented on #23
/assign

[2019-07-10 13:20] chuckha commented on #31
/close

fixed in #35

[2019-07-10 13:20] #31 closed

[2019-07-10 13:20] chuckha commented on #43
fixed by #62

/close

[2019-07-10 13:20] #43 closed

[2019-07-10 13:22] chuckha commented on #61
I am pretty sure this is fixed, this could use verification

[2019-07-10 14:52] #66 closed

[2019-07-10 20:02] ericzhang08 commented on #78
/assign

[2019-07-10 22:00] #60 closed

[2019-07-12 18:09] #78 closed

[2019-07-15 14:13] chuckha commented on #65
fixed, please use cluster api > v0.1.6 (anything in the 0.1 release with a patch number >= 6)

[2019-07-15 14:13] #65 closed

[2019-07-15 14:14] chuckha commented on #5
@ashish-amarnath is there any more work to be done for this? I think we can close it out.

[2019-07-15 16:04] ashish-amarnath commented on #5
Yes, we can close it out.
/close

[2019-07-15 16:04] #5 closed

[2019-07-15 16:46] ashish-amarnath commented on #61
/assign
/lifecycle active

[2019-07-15 19:20] chuckha opened #87 "Generated cluster does not have Kind/Version"
/kind bug

**What steps did you take and what happened:**
capdctl needs to generate JSON with kind & version embedded in it.

/good-first-issue

This may be true of all generated JSON, as part of this task, please all generated JSON has Kind & Version.

I expect

`capdctl control-plane -namespace default | kubectl apply -f -` and
`capdctl cluster -namespace default | kubectl apply -f -` to work

[2019-07-15 19:23] ashish-amarnath commented on #87
/assign
/lifecycle active

[2019-07-16 07:01] ashish-amarnath commented on #87
/unassign
/remove lifecycle

[2019-07-16 07:02] ashish-amarnath commented on #61
/unassign
/remove lifecycle

[2019-07-16 14:25] liztio opened #88 "`capdctl version` command."
/kind feature

**Describe the solution you'd like**
When debugging, it's important to know exactly what environment you're running in. And unfortunately, there are a _lot_ of version variables when it comes to `cadp.` I think one single `capdctl version` command should return all the information about the environment, including:

* capdctl version
* docker runtime version
* kind version
* capd doc

[2019-07-16 14:44] ericzhang08 commented on #87
/assign

[2019-07-16 15:31] ashish-amarnath commented on #88
/assign
/lifecycle active

[2019-07-16 19:01] chuckha commented on #88
This is a huge task, we should probably break it down into small pieces.

We don't need the kind version as we're only using the library, not the CLI. That dependency is managed in go.

I don't understand the use case for management & child cluster version listing, can you please expand on why those in particular would be useful?

- [ ] Enable `capdctl version` that prints the version of capdctl.

[2019-07-17 04:42] ashish-amarnath commented on #88
I agree. That was going to be my approach anyway. Going down the list 😄
`ldflags` are how we can do this w/o using something like `bazel`

[2019-07-17 07:45] ashish-amarnath commented on #88
PR1: Implementing version info for all capd binaries https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/89

[2019-07-17 14:44] chuckha opened #90 "a patch that i thought landed in cape 0.1.6 did no. Bump version to 0.1.7"
/kind bug

**Describe the solution you'd like**
capi v0.1.6 is missing a crucial bug fix. We need to bump to v0.1.7 when it is released. This provider will not work until then.

[2019-07-17 14:51] chuckha commented on #88
This is going to be super useful if we can port it to other providers or maybe make a generic thing that "finds versions of various things".

maybe like

[code]

[2019-07-17 19:00] chuckha commented on #90
/assign
/lifecycle active

[2019-07-17 22:32] #87 closed

[2019-07-17 22:32] #90 closed

[2019-07-19 02:05] ashish-amarnath commented on #88
Progress:
- [ ] Enable capdctl version that prints the version of capdctl. We should investigate ldflags
- [ ] Scaffolding of the command, perhaps capdctl environment-versions?
- [ ] docker runtime version -- Shell out with docker version
- [ ] capd container image -- use client-go to get the capd deployment and extract the image
- [ ] capi container image -- use client-go to get the capi deployme

[2019-07-22 21:03] chuckha commented on #67
* Release a v0.1
* Track cluster-api v1alpha1 on our release-0.1 branch (used for integration tests elsewhere)

/assign
/lifecycle active

[2019-07-23 14:07] chuckha opened #98 "Improve dev-builds"
/kind feature

**Describe the solution you'd like**
Builds are now optimized towards releasing and not dev.

In order to make the dev workflow experience better we should create a makefile that builds docker-images and builds binaries with version embedded

This issue is a result of changing the release pipeline.

[2019-07-23 14:19] chuckha commented on #61
/remove-lifecycle active

[2019-07-23 14:19] chuckha commented on #54
/assign
/lifecycle active

related to #67

[2019-07-23 17:30] ashish-amarnath commented on #98
Ref: https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/95/files#r306340239

[2019-07-23 21:42] #67 closed

[2019-07-24 18:11] liztio opened #109 "Final control plane node can never be deleted"
/kind bug

**What steps did you take and what happened:**
1. Create a kind management cluster
2. create a capa cluster using capd
3. delete the capd cluster (using the changes in kubernetes-sigs/cluster-api#1180 so the machines get deleted first)
4. Control plane node fails to delete with an error like `failed with exit code one`

**What did you expect to happen:**

**Anything else you would like

[2019-07-24 19:36] chuckha opened #110 "Capdctl must be able to fetch (and kustomize) YAML"
/kind feature

**Describe the solution you'd like**
In order to have capdctl be able to spin up a management cluster we must use kustomize to build the YAML provided by kubebuilder. capdctl should go fetch all the necessary yaml from each provider requested.

**Anything else you would like to add:**
None

**Environment:**

- Cluster-api-provider-docker version:
- Kubernetes version: (use `kubectl

[2019-07-24 19:37] chuckha commented on #110
needed for #54

[2019-07-25 00:49] chuckha commented on #110
This is all finished in #107

That PR is too big though. I'll be breaking that up into smaller pieces:

* Rename capd-manager to manager (like kubebuilder expects/wants)
* Port over v1alpha2 types
* Make capdctl able to spin up new v1alpha2 management clusters

[2019-07-25 15:46] chuckha opened #117 "Automate github action to push images to GCR"
/kind feature

**Describe the solution you'd like**
I would like GitHub actions to push images to GCR. It is not very straightforward. If you look at some of the history on the .github/main.workflow file you will see many attempts were made.

Ideally this will tie into the image promoter process.

**Anything else you would like to add:**
I would strongly suggest having an alternative repo where yo

[2019-07-25 15:46] chuckha commented on #117
/priority longterm-important

[2019-07-25 15:47] chuckha commented on #54
release branch now exists. We are supporting both! 🎉
/close

[2019-07-25 15:47] #54 closed

[2019-07-25 15:47] chuckha commented on #8
This is fixed and Prs are referenced

/close

[2019-07-25 15:47] #8 closed

[2019-07-25 15:48] chuckha commented on #88
This is fixed. We should open issues for further version issues.

/close

[2019-07-25 15:48] #88 closed

[2019-07-25 15:51] chuckha commented on #117
/priority important-longterm

[2019-07-25 16:20] liztio opened #118 "Seperate `capdctl setup` into `capdctl kind` and `capdctl platform`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I'm trying to start using `tilt.dev`, and it'd be useful for me to be able to set up the kind cluster separately from setting up the control plane. Sometimes tearing down and bringing up all of kind is too heavyweight and gets in the way of iteration

**Anything else you would like to

[2019-07-25 16:21] chuckha opened #119 "rename capd-manager to manager for new kubebuilder"
/kind feature

**Describe the solution you'd like**
kubebuilder v0.2 likes the manager to be called `manager`

**Anything else you would like to add:**
**Environment:**

/assign
/lifecycle active

[2019-07-25 16:26] chuckha commented on #118
/priority important-longterm

[2019-07-25 16:34] chuckha opened #121 "Update to newest kubebuilder"
/kind feature

**Describe the solution you'd like**
We should use kubebuilder v0.2 for the controller and DockerMachine types coming in v1a2 as that's what all the other CAPD projects have settled on.

/priority important-soon
/assign
/lifecycle active

[2019-07-25 16:41] chuckha opened #123 "Update capdctl to work with v1a2 infrastructure"
/kind feature

**Describe the solution you'd like**
Capdctl needs to be able to load 3 different providers from various places onto a management cluster.

**Anything else you would like to add:**

/assign
/priority important-soon

[2019-07-25 16:41] chuckha commented on #123
/lifecycle active

[2019-07-25 16:45] chuckha opened #125 "Import v1alpha2 instead of v1alpha1"
/kind feature

**Describe the solution you'd like**
We need to import the new cluster-api types and not import the old cluster-api types.

/assign
/lifecycle active
/priority important-soon

[2019-07-25 17:06] chuckha commented on #119
/priority important-soon

[2019-07-25 17:07] chuckha commented on #118
/lifecycle active

[2019-07-25 17:13] chuckha commented on #109
/priority important-soon

[2019-07-25 17:14] chuckha commented on #98
/close

[2019-07-25 17:14] #98 closed

[2019-07-25 17:16] chuckha commented on #69
/priority important-longterm

[2019-07-25 17:16] chuckha commented on #61
just needs to be verified

[2019-07-25 17:17] chuckha commented on #24
/priority awaiting-more-evidence

[2019-07-25 17:18] chuckha commented on #23
/remove-lifecycle active

[2019-07-25 17:19] chuckha commented on #23
/priority important-longterm

[2019-07-25 17:22] chuckha commented on #125
/milestone support v1alpha2

[2019-07-25 17:27] chuckha opened #127 "Support v1alpha2"
/kind feature

**Describe the solution you'd like**
This is a tracking issue for getting CAPD to support v1alpha2

- [ ] #123 Update capdctl to support v1a2 infrastructure
- [x] #125 Import the new types and stop importing the old types
- [x] #67 Implement a release strategy for v1a1
- [ ] #131 Update documentation
- [ ] Add more here

**Anything else you would like to add:**
/cc @fabianofranz

[2019-07-25 18:34] #119 closed

[2019-07-25 20:39] #125 closed

[2019-07-25 20:47] #118 closed

[2019-07-26 15:16] #121 closed

[2019-07-26 16:02] fabriziopandini commented on #127
/cc fabriziopandini

[2019-07-26 16:03] fabriziopandini commented on #127
/cc @fabriziopandini

[2019-07-26 16:57] fabriziopandini commented on #69
@chuckha what about:
1. storing two version of the kubeconfig file in the secret (the current + 1 mac friendly)
2. upgrade instruction to use `data.value-mac` instead of `data.value`

As an alternative to 2, it would be nice to have `capdctl config` subcommand that hides all this complexity to the users

[2019-07-26 17:14] chuckha opened #131 "Update documentation for v1alpha2"
/kind feature

**Describe the solution you'd like**
We have not touched documentation for some time. It needs to be updated!

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-docker version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-07-27 16:17] sb1975 opened #132 "Documentation Clarification : what does REGISTRY mean"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

so for this step - REGISTRY=<MY_REGISTRY> ./scripts/publish-manager.sh

sudeepbatra  < 1 minute ago
what does REGISTRY mean ? is it the Docker Registry or I need to create my local docker registry ?

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2019-07-29 13:34] chuckha opened #133 "Investigate virtual patches from capv"
/kind feature

See this comment: https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/124#discussion_r307894350

**Describe the solution you'd like**
We may be able to reuse some of that code to solve the issue with "which container image should kustomize override". However I'd like to avoid vendoring other providers, but that doesn't mean we can't copy code over if it will work for

[2019-07-29 14:05] detiber commented on #132
@sb1975 REGISTRY is meant to be any pre-existing container registry. This could be a Docker Hub registry, a gcr.io bucket, or any other container registry that you have access configured (through the Docker config) to push images to.

[2019-07-30 17:19] mhrivnak opened #134 "Document what this is"
/kind bug

**What steps did you take and what happened:**
This project is missing a simple description for what it is. I am very familiar with cluster-api, but I am left to speculate about what a "docker provider" might do.

**What did you expect to happen:**
Find an explanation for:
* who is this provider for
* when and why would someone use this provider
* how does it work at a high level

Just

[2019-07-30 17:42] kfox1111 opened #135 "containerd"
Kind of curious, why is this cluster-api-provider-docker and not cluster-api-provider-containerd? I don't think docker is exposing containerd namespaces yet, while containerd namespaces could be useful for isolation in the cluster-api?

[2019-07-30 17:44] amy opened #136 "Actuator/controller"
Update the controller logic to remove actuator in favor of the `DockerMachineController`. Much of this will involve filling out the `Reconcile` function. This may also include updating the CRDs in the `infrastructure.x-k8s.io` group. It would be great to flesh this out and keep things like the version of the kind node inside, but that's TBD. Definitely up for discussion here.

Related to: https://

[2019-07-30 17:44] amy commented on #136
/assign

[2019-07-30 17:47] amy commented on #136
/priority important-soon
/lifecycle active

[2019-07-30 20:56] chuckha opened #137 "Add a DockerCluster type"
/kind feature

**Describe the solution you'd like**
In line with the AWSCluster object, we will also need a docker specific cluster object. We may not use any fields in it, but it should follow v1alpha1.Machine.ProviderSpec => Infrastructure ProviderMachine

as in, v1alpha1.Cluster.ProviderSpec => InfrastructureProviderCluster

please use Kubebuilder v0.2.0-beta.4 or newer to generate this code

/

[2019-07-30 21:49] ericzhang08 commented on #137
@chuckha  could I work on this issue?

[2019-07-31 14:32] chuckha commented on #137
@ericzhang08 yes!

/assign @ericzhang08
/lifecycle active

[2019-07-31 18:16] ericzhang08 commented on #137
Hi, @chuckha. What do you mean  "it should follow v1alpha1.Machine.ProviderSpec => Infrastructure ProviderMachine".

[2019-07-31 18:34] #123 closed

[2019-07-31 18:56] chuckha opened #139 "Getting started guide"
/kind documentation

**Describe the solution you'd like**
I would like a getting started guide for v1alpha2 using capdctl so new users can get going right away.

Going from just coming to this repo to up and running multiple clusters locally.

[2019-07-31 21:46] chuckha opened #143 "expected API version is v1alpha2 not v1alpha1"
/kind bug

All types created in this provider should be of type v1alpha2 in order to minimize user confusion.

cc @ericzhang08

[2019-07-31 21:53] ericzhang08 commented on #143
/assign

[2019-08-01 13:36] #137 closed

[2019-08-01 20:25] chuckha opened #146 "Use cluster API machineToInfrastructureMachine"
/kind bug

**What steps did you take and what happened:**
This got lost in a merge commit, basically replace the mapfn that maps a machine to an infrastructure machine to the one provided by cluster-api

/cc @ericzhang08

[2019-08-01 20:34] #143 closed

[2019-08-02 18:41] amy commented on #134
/remove-label bug

/kind documentation

[2019-08-02 18:41] amy commented on #134
/remove-label kind/bug

[2019-08-02 18:44] amy commented on #134
/remove-kind bug

[2019-08-02 18:45] amy commented on #132
/remove-kind feature
/kind documentation

[2019-08-02 18:47] #146 closed

[2019-08-02 18:59] amy opened #150 "Controller delete logic"
Related to #136. Also see https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/148#discussion_r310252990

The controller logic in https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/148 needs to handle cluster deletions in the `Reconcile` function.

[2019-08-02 19:13] amy opened #151 "Change the Update in Reconcile() to a Patch"
https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/148#discussion_r310257842

`r.Client.Update(...)` is used within `controllers/dockermachine_controller.go` in `Reconcile(...)`. Change that to a `Patch`.

[2019-08-02 19:17] amy opened #152 "Extract the ELB logic into the DockerClusterReconciler"
Move `getExternalLoadBalancerNode` logic into `Reconcile`.

[2019-08-02 19:19] amy commented on #151
/kind cleanup

[2019-08-02 19:19] amy commented on #152
/kind cleanup

[2019-08-02 19:19] amy commented on #150
/kind feature

[2019-08-02 21:24] amy opened #153 "Error Logging Strategy"
This ties into a larger theme of needing an overall logging strategy. See the original issue in the kubeadm bootstrapper for more detail: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/65

Also related: https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/148/files#r310253386

Ex: within `Reconcile()` we see `return ctrl.Result{}, err`. Should these

[2019-08-02 21:26] amy commented on #153
Also something that may be useful: https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/148/files#r310262931

[2019-08-02 21:29] amy commented on #153
/kind cleanup

[2019-08-02 21:31] amy opened #154 "Refactor the create function"
/kind cleanup

The create function is pretty hard to follow and needs to be refactored into a switch case.
[code]

[2019-08-05 20:14] ericzhang08 commented on #154
/assign

[2019-08-06 00:48] chuckha opened #158 "manager does not register capi types"
/kind bug

**What steps did you take and what happened:**
I tried to run the manager but it wouldn't start because the capi types were not registered with the manager scheme.

/assign
/lifecycle active

[2019-08-06 02:08] chuckha commented on #158
/lifecycle active
/assign

[2019-08-06 02:09] chuckha opened #160 "manager does not match machine refs correctly"
/kind bug

**What steps did you take and what happened:**
I created a bunch of v1alpha2 yaml and this provider told me it could not find the machine even though it existed. Turns out the apiversion wasn't matching properly.

/lifecycle active
/assign

[2019-08-06 05:49] ashish-amarnath commented on #132
/assign
/lifecycle active

[2019-08-06 05:55] ashish-amarnath commented on #152
/assign
/lifecycle active

[2019-08-06 08:09] #160 closed

[2019-08-06 08:15] #158 closed

[2019-08-06 16:28] chuckha commented on #136
this got merged

/close

[2019-08-06 16:28] #136 closed

[2019-08-06 16:31] #132 closed

[2019-08-06 18:32] ericzhang08 commented on #154
/unassign

[2019-08-06 18:33] ericzhang08 commented on #150
/assign

[2019-08-06 19:38] chuckha opened #163 "Add a Status field of Ready to DockerCluster"
/kind feature

**Describe the solution you'd like**
DockerCluster needs a status field of Ready for the cluster-controller in capi to know if it can proceed.

/lifecycle active
/priority important-soon

[2019-08-06 19:38] ericzhang08 commented on #150
1. delete docker container when a machine be deleted.
2. unregister from ELB

[2019-08-06 19:44] chuckha commented on #150
Oh one more thing I forgot, you will also need to ensure `kubeadm reset` gets called on the node. v1.15+ will offer `kubeadm reset` as a phase that updates the cluster's config map and v1.14 and below we will simply have to run `kubeadm reset` on the node as the command. I think this logic is already baked into the provider, but should be double checked.

This is necessary because docker reuses IP

[2019-08-06 19:48] chuckha commented on #151
/priority important-soon
/good-first-issue

Happy to help any newcomers get through this one!

[2019-08-06 19:48] chuckha commented on #150
/priority important-longterm

[2019-08-06 19:54] #163 closed

[2019-08-07 15:00] dennisme commented on #151
/assign

[2019-08-08 18:59] ericzhang08 commented on #154
/assign

[2019-08-08 19:40] dlipovetsky opened #172 "Unable to deploy v1.15.2 cluster using CAPD release-0.1 branch"
/kind bug

**What steps did you take and what happened:**
I deployed a v1.15.2 control plane machine and the machine actuator reported an error invoking kubeadm.

[code]

To reproduce:
[code]

**What did you expect to happen:**
Deploy the control plane machine.

**Anything else you would like to add:**
@chuckha said on slack

**Environment:**

- Cluster-api-provider-docker version: v0.1.3+43635e
-

[2019-08-09 20:19] #150 closed

[2019-08-09 20:30] ashish-amarnath opened #178 "Use `InfrastructureReady` status"
/kind feature
Address this comment
https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/164#discussion_r312479491

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Use `cluster.Status.InfrastructureReady` instead  of  what is currently done.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solv

[2019-08-09 20:30] ashish-amarnath commented on #178
/lifecycle active

[2019-08-12 13:09] #152 closed

[2019-08-12 15:57] ericzhang08 commented on #154
/lifecycle active

[2019-08-12 16:18] chuckha opened #181 "status patch is broken"
/kind bug

**What steps did you take and what happened:**
This requires defining a kubebuilder flag in the types file and regenerating

**What did you expect to happen:**
I expect status patch to work.

/lifecycle active
/assign

[2019-08-12 18:23] #151 closed

[2019-08-12 18:45] chuckha commented on #181
that closed PR did actually merge...

/closed

[2019-08-13 14:01] chuckha commented on #181
dang it

/close

[2019-08-13 14:01] #181 closed

[2019-08-13 14:47] chuckha commented on #131
/priority important-soon

[2019-08-14 22:20] dennisme commented on #117
Im on the beta for github actions :(, is there any other way I can iterate on this? If so I'd be willing to pick this one up @chuckha.

[2019-08-15 13:23] chuckha opened #188 "Bump klog to v0.4.0"
/kind feature

**Describe the solution you'd like**
klog logs some extra stuff that gets removed in v0.4.0. It would be great to update the dependency to use this.

/good-first-issue
/priority important-longterm
/milestone v0.2

**Anything else you would like to add:**

**Environment:**

[2019-08-15 15:29] mytunguyen commented on #188
/assign

[2019-08-15 17:07] chuckha commented on #188
/lifecycle active

[2019-08-15 17:38] #188 closed

[2019-08-15 18:06] #154 closed

[2019-08-16 14:24] chuckha commented on #117
I think this is the wrong approach and this ticket should actually use the k8s image promoter process. I'm going to make a new issue and close this one out

[2019-08-16 14:24] #117 closed

[2019-08-16 14:26] chuckha opened #194 "Implement the image promoter process"
/kind feature

**Describe the solution you'd like**
The image promoter process will allow us to push releases to a well-known and trusted k8s repo. Users will be able to rely on these releases and they will not be hosted by a single developer's work account (me)

**Anything else you would like to add:**
https://github.com/kubernetes-sigs/k8s-container-image-promoter

There should be some informati

[2019-08-16 15:57] chuckha opened #195 "Integrate cabpk data docker"
/kind feature

**Describe the solution you'd like**
Another major change will be actually integrating cabpk with this provider. I'm working on doing that.

Instead of having separate kubeadm inits and all that this will collapse a lot and put a huge burden on us to carefully craft a kubeadm config instead. There will have to be tooling around this to make it useful

**Anything else you would like

[2019-08-16 17:26] #127 closed

[2019-08-16 20:58] #195 closed

[2019-08-20 19:07] chuckha commented on #109
/assign
/lifecycle active

[2019-08-20 19:51] #109 closed

[2019-08-21 16:16] chuckha opened #211 "Refactor cloud-init module a bit"
/kind feature
/help
/priority important-longterm
/milestone Next

**Describe the solution you'd like**
cloud-init is very dynamic in what it parses. However, we should take advantage of the fact cloud-init has a defined schema. For now we only care about write_files and runcmd modules. We should explicitly define a type like

[code]
We can still use the existing custom parsing so we can capture un

[2019-08-21 18:04] ashish-amarnath commented on #178
This PR is already addressing this https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/210/files#diff-5a0ef128e5d699a37a70d38f9a51d847R154

[2019-08-21 18:04] ashish-amarnath commented on #178
/unassign
/assign @fabriziopandini

[2019-08-22 14:47] detiber opened #218 "A"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-docker version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-08-22 14:48] detiber opened #219 "Add image lookup instead of hardcoding image versions for kindest/node"
/kind feature

**Describe the solution you'd like**
Currently we hardcode the available image versions of kindest/node available, we should implement some type of a lookup instead.

**Environment:**

- Cluster-api-provider-docker version: latest

[2019-08-22 14:48] detiber commented on #219
/priority important-longterm

[2019-08-22 14:50] detiber opened #220 "Let the user know when kubernetes version is being overridden"
/kind feature

**Describe the solution you'd like**
Currently when we create a container we are falling back to a default version if we do not know of a supported version of kindest/node that matches the version requested. Instead of just falling back, we should let the user know that the fallback is happening and why.

**Environment:**

- Cluster-api-provider-docker version: latest

/priority imp

[2019-08-22 16:03] detiber commented on #218
err, accidental issue
/close

[2019-08-22 16:03] #218 closed

[2019-08-22 16:10] detiber opened #221 "Delete dockermachine fails if related cluster and machine are deleted first"
/kind bug

**What steps did you take and what happened:**
- created a cluster consisting of a single control plane instance
- issued a delete for the cluster (the dockermachine wasn't cleaned up as part of the delete, bug in capi, I suspect)
- attempt to delete straggling dockermachine

The delete of the dockermachine fails because attempts to get the related Machine and Cluster fail.

**What did

[2019-08-22 16:16] detiber opened #222 "Delete of DockerMachine if related DockerCluster is not present results in an NPE"
/kind bug

**What steps did you take and what happened:**
- create a single control plane cluster
- delete cluster
- cascading delete of DockerMachine causes NPE because load balancer is already deleted

Resulting error:
[code]

**What did you expect to happen:**
No NPE when deleting DockerMachine

**Environment:**

- capd-manager version (use `kubectl -n docker-provider-system get pods/docker-pro

[2019-08-23 08:47] fabriziopandini commented on #219
@detiber with  https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/210 this is changed a little bit and the list of harcoded images was removed (see
https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/bc6d722b98e9cb3fed46ba3a21a371075c2c75c2/docker/machine.go#L215)

However, there is not yet lookup logic...

[2019-08-23 08:51] fabriziopandini commented on #220
this is slightly changed with https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/210, but still valid;
Currently, we are silently falling back to a default release inf Kubernetes Version is not specified

[2019-08-23 08:59] fabriziopandini opened #223 "Add Watch for Cluster/DockerCluster in machine controller"
/kind feature

**Describe the solution you'd like**
ATM machine controller requeue with arbitrary delay when waiting for conditions on Cluster/DockerCluster to happen.
This can be improved by adding a watch for Cluster/DockerCluster in machine controller;

**Anything else you would like to add:**
From slack...

[2019-08-23 09:13] fabriziopandini opened #224 "Define conventions for logging"
/kind feature

**Describe the solution you'd like**
as per [comment](https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/210#discussion_r316740803)

also relevant [comment](https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/210#discussion_r316732905) and [reply](https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/210#discussion_r316769998)

I would

[2019-08-23 14:33] detiber commented on #224
As I mentioned in the PR comments, I believe we should standardize to match the type naming to avoid user confusion. Anywhere they see DockerMachine, Cluster, etc it is clear that we are talking about a resource of that type rather than one of the many other overloaded uses of the words.

[2019-08-26 18:49] joonas opened #228 "Make Manager SyncPeriod configurable via a flag"
/kind feature

**Describe the solution you'd like**

It should be possible to configure the [SyncPeriod](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Options.SyncPeriod) (how often watched resources are re-queued to be reconciled) that’s used to configure the [Manager](https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/34bb5e31f7a574d94a7e246566f836428d4a4874/main.

[2019-08-29 01:18] sb1975 opened #230 "Error running go install ./cmd/capdctl"
/kind bug
root@capd:~/cluster-api-provider-docker# go install ./cmd/capdctl
can't load package: package sigs.k8s.io/cluster-api-provider-docker/cmd/capdctl: unknown import path "sigs.k8s.io/cluster-api-provider-docker/cmd/capdctl": cannot find package
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything

[2019-08-29 02:43] joonas commented on #230
@sb1975 it looks like `capdctl` was removed in https://github.com/kubernetes-sigs/cluster-api-provider-docker/pull/193, but it looks like the [README still references it](https://github.com/kubernetes-sigs/cluster-api-provider-docker#trying-capd).

Were you trying to use `capdctl` to set up a management cluster to get going with? In that case you may want to look into either [`kind`](https://githu

[2019-08-29 18:07] #230 closed

[2019-09-02 17:44] Arvinderpal opened #239 "Create DockerMachine control-plane fails due to overlayfs issue"
/kind bug

**What steps did you take and what happened:**
While creating DockerMachine, I came across the following error in the control-plane node of the cluster. The error occurs during the `kubeadm init` and can be traced down to the kubelet logs which attempt to create static pods for kubernetes components.

[code]

**What did you expect to happen:**
Kubernetes control-plane components should

[2019-09-03 16:39] #239 closed

[2019-09-03 18:23] chuckha opened #241 "release v0.2.0"
/kind feature

- [ ] Bump the go.mod to use CAPI v0.2.0
- [ ] build and push a manager image
- [ ] Write release notes

[2019-09-05 16:16] sb1975 opened #243 "my-cluster-kubeconfig secret is missing the API server IP address."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I built the cluster API setup using KIND.

# kind create cluster --config ./devenv/kind/config.yaml
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.15.3) 🖼
 ✓ Preparing nodes 📦
 ✓ Creating kubeadm config 📜
 ✓ Starting control-plane 🕹️
 ✓ Installing CNI 🔌
 ✓ Installin

[2019-09-06 18:57] #223 closed

[2019-09-12 15:45] chuckha opened #246 "Remove `kind` as a dependency"
/kind feature
/priority longterm-important
/milestone Next

**Describe the solution you'd like**
I'd like to remove kind (the library) as a dependency. From talking with some of the kind folk it sounds like it's not really meant to be used so we should extract ourselves as quickly as possible.

It should not be too bad to use some container client to spin up nodes instead of relying on kind.

[2019-09-18 15:30] Xenwar commented on #228
Taking this one, previous worked on https://github.com/kubernetes-sigs/cluster-api/issues/1322

[2019-09-18 15:30] Xenwar commented on #228
/assign @Xenwar

[2019-09-25 10:58] Xenwar commented on #228
Could this issue be closed ?

[2019-09-25 13:00] detiber commented on #228
Yes
/close

[2019-09-25 13:00] #228 closed

[2019-09-25 22:16] ashish-amarnath commented on #243
/assign

[2019-09-25 22:36] ashish-amarnath commented on #243
I am unable to repro this bug and here is what I did:

- Following [kind.md](https://github.com/kubernetes-sigs/cluster-api-provider-docker/blob/master/docs/kind.md) created a management cluster and setup `KUBECONFIG` to point to this cluster
- Deployed capi components as
[code]
- Deployed cabpk  components as
[code]
- Built the capd manager image from capd repo master HEAD `8dc38744ec024354643d92

[2019-09-25 22:40] ashish-amarnath commented on #222
/assign

[2019-09-26 00:29] ashish-amarnath commented on #222
I think this should no longer be an issue considering this https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/cluster_controller.go#L171 from upstream capi.

[2019-09-26 05:32] Xenwar commented on #221
I could not reproduce the issue.
Could it be that it was fixed indirectly by some other changes in the code ?

[2019-09-26 06:22] ashish-amarnath commented on #221
This may be a dup of #222
https://github.com/kubernetes-sigs/cluster-api-provider-docker/issues/222#issuecomment-535276863

[2019-09-26 18:18] chuckha commented on #24
/close

timeout

[2019-09-26 18:18] #24 closed

[2019-09-26 18:21] chuckha commented on #131
/close

@ashish-amarnath verified the documentation is decent enough to get started

[2019-09-26 18:21] #131 closed

[2019-09-26 18:22] chuckha commented on #134
/assign @ashish-amarnath

[2019-09-26 18:22] chuckha commented on #139
this covered by the bootstrap provider

/close

[2019-09-26 18:22] #139 closed

[2019-09-26 18:24] chuckha commented on #172
/assign @chuckha

figure out if release-0.1 will have any more support.

[2019-09-26 18:26] chuckha commented on #194
We do have a staging repo now but it's unimplemented

[2019-09-26 18:26] chuckha commented on #211
/priority backlog

[2019-09-26 18:26] chuckha commented on #211
/remove important-longterm

[2019-09-26 18:27] chuckha commented on #211
/remove-priority important-longterm

[2019-09-26 18:28] chuckha commented on #220
/assign @ashish-amarnath

[2019-09-26 18:31] chuckha commented on #222
/assign @chuckha

gonna try to repro this, it may have been fixed upstream

[2019-09-26 18:32] chuckha commented on #243
/priority awaiting-more-evidence

[2019-09-26 18:32] chuckha commented on #243
/remove-priority important-soon

[2019-09-26 18:35] chuckha commented on #246
The general direction I'd like to see here is to have a docker client that either uses a go library or wraps docker exec and gets passed to the reconciler. That will let us fake it for tests and remove the kind library calls.

[2019-09-26 18:40] chuckha opened #250 "External cloud provider docker"
/kind feature
/priority important-soon
/milestone v0.3.0

**Describe the solution you'd like**
In order to have parity with other cloud providers we should add a docker cloud provider.

This cloud provider would be responsible for things like

* Creating load balancers for Services with type = LoadBalancer
* Assign ProviderID to the node/machine
* ?

cc @dlipovetsky

**Anything else you would like

[2019-09-26 18:48] chuckha opened #251 "Defining behaviors of this infrastructure provider"
/kind feature
/milestone v0.3.0
/priority important-longterm

**Describe the solution you'd like**
In order to test the behaviors we must define what behaviors this provider has.

We should clearly document and have a plan of tests we'd like to add.

Something similar to [this outline](https://docs.google.com/document/d/1g6xxhD_AFA4klrm87f7o0XpEtOOZfbSIat3ltKmbvrc/edit#) that we did for CABPK.

Th

[2019-09-26 18:50] chuckha opened #252 "Support control plane management"
/kind feature
/milestone v0.3.0
/priority critical-urgent

**Describe the solution you'd like**
Cluster API will be adding control plane management in v1alpha3. This issue will track the work required to integrate with that feature.

[2019-09-26 19:21] #220 closed

[2019-09-30 05:57] Xenwar commented on #211
Will take this

[2019-09-30 05:57] Xenwar commented on #211
/assign @Xenwar

[2019-09-30 06:00] kashifest commented on #211
I am also interested to work on this @Xenwar

[2019-09-30 06:02] Xenwar commented on #211
Agreed. Let's start working on it together.

[2019-09-30 18:28] Xenwar commented on #219
Considering taking this issue, but would like to know the following.
- Is `lookup` equivalent to verifying/validating existence of `registry/image:tag`

basically, trying to see the added value of the `lookup` over adding more entry in the cont block, much like the defaultImage

[2019-09-30 18:36] detiber commented on #219
@Xenwar yes, a lookup would require either attempting to pull an image based on the version or otherwise querying the registry to ensure the image exists.

[2019-09-30 18:37] detiber commented on #219
The added benefit would be that you could take advantage of newer versions without requiring an update to CAPD to update the list of known images.

[2019-09-30 18:45] Xenwar commented on #219
Thanks, clear. Will take the issue.

[2019-09-30 18:45] Xenwar commented on #219
/assign @Xenwar

[2019-10-01 21:00] chuckha commented on #250
cc @joonas

[2019-10-03 13:31] randomvariable commented on #224
Was the consensus on this to follow the object capitalization?

[2019-10-03 13:35] chuckha commented on #224
I'm not sure there was consensus. But now would be a good time for an update:

From my perspective, skewer style looks the best, but if CAPI and CAPA have followed the object capitalization then let's do that.

The thing that's important to me is to log errors at the Reconciler level and not have too many Info logs. If we need debugging we can use `.V(1)` levels. I'm using https://github.com/kuber

[2019-10-03 13:37] chuckha commented on #224
In my ideal world we only use `.Info`, `.V(1).Info` and `.Error` methods on the logger and nothing else.

[2019-10-03 13:50] randomvariable commented on #224
Thanks for the update. I think we should go for the object capitalization. Brief look through k/k shows all logs follow object capitalization *except* for pod, where it is inconsistently cased through the repository.

[2019-10-03 13:50] randomvariable commented on #224
/kind documentation

[2019-10-03 13:50] chuckha commented on #224
sounds great to me, thank you for poking through k/k

[2019-10-07 16:51] randomvariable commented on #224
On the log levels front, k/k has the following conventions (found here https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md, and linked from docs.k8s.io):

The following conventions for the klog levels to use.
[klog](http://godoc.org/github.com/kubernetes/klog) is globally preferred to
[log](http://golang.org/pkg/log/) for better runtime control.

*

[2019-10-08 14:15] chuckha commented on #224
k/k logging is not the convention in controller-runtime based projects. The reason I have this issue opened is that the provider logs are generally not useful (overly verbose) and I want to see if we can make them more useful. As a developer, I know what I want to see when someone comes to us with a bug. I want a stack trace.

The controller-runtime sets a logging convention of favoring logging as

[2019-10-09 17:16] ashish-amarnath commented on #134
/lifecycle active

[2019-10-10 14:45] #134 closed

[2019-10-16 20:27] chuckha commented on #172
release-0.1 is no longer supported

[2019-10-16 20:27] #172 closed

[2019-10-16 20:30] chuckha commented on #243
no response. Due to issue migration please reopen in github.com/kubernetes-sigs/cluster-api if still applicable.

/close

[2019-10-16 20:30] #243 closed

[2019-10-16 20:32] chuckha commented on #153
dupe of #224
/close

[2019-10-16 20:32] #153 closed

[2019-10-16 20:35] chuckha commented on #194
/priority critical-urgent

this is actually the most important thing

/remove-priority important-longterm

[2019-10-16 20:36] chuckha commented on #252
/remove-prioirty critical-urgent
/priority important-longterm

[2019-12-25 07:55] Xenwar commented on #221
The code has moved to cluster-api repo, but this repo still accepts bug fixes.
According to the comments on #222, the issue #222 may no longer be needed as it may have been fixed. And, since #221 is similar, if not identical, to #222, both issues may not be needed any longer. Therefore this issue can be closed.

[2019-12-25 07:55] Xenwar commented on #221
/close

[2019-12-25 07:56] #221 closed

[2019-12-26 15:25] kfox1111 commented on #246
/remove-lifecycle stale

[2019-12-26 15:27] chuckha commented on #246
@kfox1111 This repo is deprecated. I've tagged you in the relevant issue over in the cluster-api repository. If you have time to work on this it would be really awesome.

https://github.com/kubernetes-sigs/cluster-api/issues/1751

[2019-12-26 16:45] kfox1111 commented on #246
Thanks for the update. Unfortunately, my list of projects needing attention is already very long. Sorry. If my time frees up I'll ping you though.

[2019-12-27 14:48] chuckha commented on #69
Closing in favor of https://github.com/kubernetes-sigs/cluster-api/issues/1685

/close

[2019-12-27 14:48] #69 closed

[2020-01-22 18:22] detiber commented on #224
/lifecycle frozen

[2020-02-23 20:15] #222 closed

[2020-02-23 21:16] #251 closed

[2020-03-06 22:38] dlipovetsky commented on #250
/reopen
/lifecycle frozen

[2020-03-06 22:39] dlipovetsky commented on #250
/close

This repo is deprecated. If this is needed in the future, I'll open an issue on cluster-api, where CAPD moved to.

[2020-03-06 22:39] #250 closed

[2020-03-14 22:06] #194 closed

[2020-03-14 22:06] #252 closed

[2020-04-18 07:31] #211 closed

[2020-04-18 07:31] #219 closed

[2020-05-24 18:48] #246 closed

[2021-03-14 12:35] tamalsaha opened #259 "CAPI quick start docs does not bring up a worker cluster"
/kind bug

**What steps did you take and what happened:**
I followed the steps here:
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/user/quick-start.md

The cluster did not come up.
I see the following error is capd-docker logs

[code]

**What did you expect to happen:**
I expected the worker cluster to be ready.

**Anything else you would like to add:**
[Miscellaneous in

[2021-03-15 09:25] fabriziopandini commented on #259
FYI this repository has been discontinued more than year ago, and now CAPD is hosted at https://github.com/kubernetes-sigs/cluster-api/. Please move the issue there.
/close

[2021-03-15 09:25] #259 closed, assigned to nobody

[2021-09-24 14:27] mrbobbytables commented on #224
Project is to be archived - closing issue.
ref: https://github.com/kubernetes/org/issues/2888

[2021-09-24 14:29] #224 closed